### Import Required Libraries

In [1]:
import mlflow
from mlflow.models import infer_signature

import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

### Get the model from mlflow

In [2]:
# Set our tracking server uri for logging
mlflow.set_tracking_uri(uri="http://127.0.0.1:9090")

In [3]:
model_name = "userd_car_model"
model_version = "latest"

loaded_model = mlflow.pyfunc.load_model(model_uri=f"models:/{model_name}/{model_version}")

/Users/manaranjanp/anaconda3/envs/mlops/lib/python3.9/site-packages/mlflow/store/artifact/utils/models.py:31: FutureWarning: ``mlflow.tracking.client.MlflowClient.get_latest_versions`` is deprecated since 2.9.0. Model registry stages will be removed in a future major release. To learn more about the deprecation of model registry stages, see our migration guide here: https://mlflow.org/docs/latest/model-registry.html#migrating-from-stages
  latest = client.get_latest_versions(name, None if stage is None else [stage])

In [4]:
loaded_model

mlflow.pyfunc.loaded_model:
  artifact_path: usedcarmodel
  flavor: mlflow.sklearn
  run_id: c108557530b24ad2894964dae4cde86d

In [7]:
x_columns = ['KM_Driven', 'Fuel_Type', 'age',
              'Transmission', 'Owner_Type', 'Seats',
              'make', 'mileage_new', 'engine_new', 'model',
              'power_new', 'Location']

In [6]:
test_df = pd.read_parquet("https://raw.githubusercontent.com/manaranjanp/MLOpsDemo/main/datasets/test.parquet")

### Load and Make Predictions

In [8]:
predictions = loaded_model.predict(test_df[x_columns])


result = pd.DataFrame(test_df, columns=x_columns)
result["actual_price"] = test_df['Price']
result["predicted_price"] = predictions

result[:4]

,KM_Driven,Fuel_Type,age,Transmission,Owner_Type,Seats,make,mileage_new,engine_new,model,power_new,Location,actual_price,predicted_price
1588,75,Diesel,9,Manual,Second,5.0,maruti,21.10,1248,ritz,73.90,Mumbai,2.80,2.738555
1889,74,Diesel,6,Manual,First,5.0,honda,25.80,1498,amaze,98.60,Hyderabad,5.40,5.210303
845,21,Petrol,7,Automatic,First,5.0,hyundai,16.95,1197,i10,78.90,Chennai,3.96,4.124354
362,35,Petrol,9,Manual,First,4.0,tata,25.40,624,nano,37.48,Chennai,1.60,0.857570