# CT1-MLOps Course Group Assignment

In [1]:
import pandas as pd
import numpy as np

In [5]:
# Load dataset
data = pd.read_excel(r'C:\Users\neeti\Documents\ISB_Class of Summer_2025\02 Term 2\CT 1\Real estate valuation data set.xlsx')

In [7]:
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [8]:
data.shape

(414, 8)

## 2. Dataset Schema and Storage

In [22]:
import pyarrow as pa
import pyarrow.parquet as pq

# Define schema
schema = pa.schema([
    pa.field("No", pa.int32(), nullable=False),
    pa.field("X1 transaction date", pa.float64(), nullable=True),
    pa.field("X2 house age", pa.float32(), nullable=True),
    pa.field("X3 distance to the nearest MRT station", pa.float64(), nullable=True),
    pa.field("X4 number of convenience stores", pa.int32(), nullable=False),
    pa.field("X5 latitude", pa.float64(), nullable=False),
    pa.field("X6 longitude", pa.float64(), nullable=False),
    pa.field("Y house price of unit area", pa.float64(), nullable=False),
])

# Convert to PyArrow table with schema
table = pa.Table.from_pandas(data, schema=schema)

# Save to Parquet
output_file = r"C:\Users\neeti\Documents\ISB_Class of Summer_2025\02 Term 2\CT 1\real_estate_full_dataset.parquet"
pq.write_table(table, output_file)

print(f"Full dataset saved in Parquet format at '{output_file}'.")

Full dataset saved in Parquet format at 'C:\Users\neeti\Documents\ISB_Class of Summer_2025\02 Term 2\CT 1\real_estate_full_dataset.parquet'.

In [23]:
import pandas as pd

# Load the Parquet file
parquet_file = "real_estate_full_dataset.parquet"
df = pd.read_parquet(parquet_file)

# Display the first few rows
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

## 3. Profiling the Dataset

In [24]:
pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\neeti\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (1.13.1)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<3.10,>=3.5 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (3.8.4)
Requirement already satisfied: pydantic>=2 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (2.5.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (3.1.4)
Requirement already satisfied: visions<0.7.7,>=0.7.5 in c:\users\neeti\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (2.32.2)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (4.66.4)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: typeguard<5,>=3 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (4.4.1)
Requirement already satisfied: imagehash==4.3.1 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\neeti\anaconda3\lib\site-packages (from ydata-profiling) (0.59.1)
Requirement already satisfied: PyWavelets in c:\users\neeti\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.5.0)
Requirement already satisfied: pillow in c:\users\neeti\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\neeti\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\neeti\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\neeti\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\neeti\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\neeti\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\neeti\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\neeti\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\neeti\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in c:\users\neeti\anaconda3\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\neeti\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\neeti\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\neeti\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\neeti\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in c:\users\neeti\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.14.6)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\neeti\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\neeti\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\neeti\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\neeti\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\neeti\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2024.7.4)
Requirement already satisfied: patsy>=0.5.6 in c:\users\neeti\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: colorama in c:\users\neeti\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\neeti\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (23.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\neeti\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.2.1)
Requirement already satisfied: six in c:\users\neeti\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
from ydata_profiling import ProfileReport

In [26]:
# Load the Parquet dataset
parquet_file = "real_estate_full_dataset.parquet"
df = pd.read_parquet(parquet_file)

# Generate the profile report
profile = ProfileReport(df, title="Real Estate Dataset Profile (Parquet)", explorative=True)

# Save the report to an HTML file
output_file = r"C:\Users\neeti\Documents\ISB_Class of Summer_2025\02 Term 2\CT 1\real_estate_parquet_profile.html"
profile.to_file(output_file)

print(f"Profile report generated and saved at '{output_file}'.")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\neeti\anaconda3\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 6 6 6 6 6 6 6 6 6 6 6
 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 7 7 7 7 7 7
 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 8 8
 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8
 8 8 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9
 9 9 9 9 9 9 9]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(
C:\Users\neeti\anaconda3\Lib\site-packages\ydata_profiling\model\pandas\discretize_pandas.py:52: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[9 8 4 4 4 2 6 5 0 2 0 8 4 3 3 1 5 0 7 6 2 6 0 6 3 1 4 4 3 4 0 6 0 5 6 0 1
 0 5 4 0 0 4 5 3 7 8 2 0 0 3 0 2 4 4 0 7 6 0 4 1 5 2 3 0 7 5 4 5 4 8 2 7 0
 9 0 2 2 1 0 3 5 6 2 6 8 0 0 0 0 0 0 3 0 4 4 8 2 4 8 3 0 5 5 5 5 7 0 1 2 4
 6 2 5 7 1 0 0 2 4 4 4 3 0 6 5 3 4 5 6 7 2 4 7 5 0 4 5 0 4 4 2 4 4 0 4 0 7
 0 7 6 8 0 5 0 0 0 3 4 3 7 2 0 4 0 0 5 7 4 0 0 4 8 3 6 2 0 8 3 0 0 7 2 0 0
 2 2 0 7 0 7 1 6 4 0 4 1 7 6 7 0 4 2 4 0 2 9 2 0 7 4 0 1 8 2 7 0 5 4 7 8 0
 9 0 5 5 0 7 0 0 2 0 0 8 3 6 9 0 0 0 1 6 2 7 2 4 5 0 0 0 6 0 8 1 4 0 0 0 5
 0 3 2 4 2 6 3 2 4 4 0 0 7 4 0 6 6 4 2 5 2 5 8 0 1 6 2 8 4 5 4 0 6 4 6 5 2
 3 3 0 9 3 0 2 0 2 4 0 0 4 0 1 3 8 4 5 1 6 1 9 4 0 3 0 5 1 7 6 2 2 0 0 0 1
 4 4 5 1 4 8 4 0 1 8 7 0 0 1 0 5 4 4 2 2 2 0 4 0 8 5 0 9 7 3 9 6 3 0 1 0 2
 4 4 6 0 4 0 1 7 7 5 4 8 0 3 0 9 0 2 3 7 8 0 5 3 0 3 0 3 1 0 4 2 0 8 4 5 6
 0 2 0 8 6 4 8]' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  discretized_df.loc[:, column] = self._discretize_column(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Profile report generated and saved at 'C:\Users\neeti\Documents\ISB_Class of Summer_2025\02 Term 2\CT 1\real_estate_parquet_profile.html'.

In [27]:
import os
print(os.getcwd())

C:\Users\neeti\Documents\ISB_Class of Summer_2025\02 Term 2\MLSL2